account/src/main/mule/DELETEACCOUNT.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="c816f99b-6bfe-443c-b59c-f82757f4905b" >
		<db:my-sql-connection host="localhost" port="3308" user="root" password="root" database="examples" />
	</db:config>
	<flow name="DELETEACCOUNTFlow" doc:id="5e192217-7ff1-49fb-b5be-62556129d538" >
		<logger level="INFO" doc:name="Logger" doc:id="c45b10b4-6da5-4526-95dc-30988538e305" />
		<db:delete doc:name="Delete" doc:id="7d931b9d-fbda-4de9-bdc1-5b34afcef197" config-ref="Database_Config2">
			<db:sql >delete from account where ID= :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{ 
'ID': attributes.queryParams.'ID'

}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="e4c6a265-9dd5-4b4f-82c6-d601c70cd04a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "query successfully deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
